* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F9FA;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --textGrey: #4F4F4F;
  --textLightGrey: #F2F2F2;
  --btnBlue: #2F80ED;
  --ultraLightGrey: #F8F9FA;
  --contentWidth: 1000px;
}